<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>登陆界面</title>
  <link th:href="@{/bootstrap_3.3.0/css/bootstrap.min.css}" type="text/css" rel="stylesheet"/>
  <script type="text/javascript" th:src="@{/JQ/jquery-1.11.1-min.js}"></script>
  <script type="text/javascript" th:src="@{/bootstrap_3.3.0/js/bootstrap.min.js}"></script>
  <script type="text/javascript">

    $(function () {
      $("#loginBtn").click(function () {
        var username = $("#loginAct").val();
        var password = $("#loginPwd").val();
        $.post(
            "/login.do",
            {"username": username, "password": password},
            function (data) {
              if (data.status == 200) {
                window.location.href = "/mPage";
              } else {
                var message = data.message;
                $("#error-msg").html("<font color='red'>" + message + "</font>")
              }
            },
            "json"
        )
      })
    })
  </script>


  <!--<title>登陆界面</title>
  <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/loginPage.css}"/>
  <script type="text/javascript" th:src="@{/js/jquery-3.2.1.js}"></script>
  <script type="text/javascript" th:src="@{/js/jquery.form.js}"></script>-->
</head>
<body>
<div style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;">
  <img th:src="@{images/3.gif}" style="width: 100%; height: 90%; position: relative; top: 50px;">
</div>
<div th:id="top" style="height: 50px; background-color: #3C3C3C; width: 100%;">
  <div
      style="position: absolute; top: 5px; left: 0px; font-size: 30px; font-weight: 400; color: white; font-family: 'times new roman'">
    登录 &nbsp;<span style="font-size: 12px;">&copy;2018&nbsp;XXXX</span></div>
</div>
<div
    style="position: absolute; top: 120px; right: 100px;width:450px;height:400px;border:1px solid #D5D5D5">
  <div style="position: absolute; top: 0px; right: 60px;">
    <div class="page-header">
      <h1>登录</h1>
    </div>
    <form class="form-horizontal" role="form">
      <div class="form-group form-group-lg">
        <div style="width: 350px;">
          <input th:class="form-control" th:id="loginAct" th:type="text" th:placeholder="用户名">
        </div>
        <div style="width: 350px; position: relative;top: 20px;">
          <input class="form-control" th:id="loginPwd" th:type="password" th:placeholder="密码">
        </div>
        <div class="checkbox" style="position: relative;top: 30px; left: 10px;">
          <label>
            <input th:type="checkbox"> 十天内免登录
          </label>
          </br>
          <label th:id="error-msg">

          </label>
          <a th:href="@{/addUserPage}" th:target="_self">注册用户</a>
        </div>
      </div>
    </form>
    <button th:type="submit" th:id="loginBtn" class="btn btn-primary btn-lg btn-block"
            style="width: 350px; position: relative;top: 45px;">登录
    </button>
  </div>
</div>
</body>
</html>

<!--<form id="loginPageForm">
    <table>
        <tbody>
        <tr>
            <td>ENAME</td>
            <td><input th:type="text" th:id="loginName" th:name="loginName"/></td>
            <td><font color="red">*</font></td>
        </tr>
        <tr>
            <td>EMPNO</td>
            <td><input th:type="password" th:id="password" th:name="password"/></td>
            <td><font color="red">*</font></td>
        </tr>
        <tr>
            <td><input th:type="button" id="loginBtn" th:value="确定"/></td>
            <td><input th:type="button" onclick="cancelLogin()" th:value="取消"/></td>
        </tr>
        <tr>
            <td><a href="/resetPwdPage" th:target="_self">重置密码</a></td>
            <td><a href="/addUserPage" th:target="_self">注册用户</a></td>
        </tr>
        </tbody>
    </table>
</form>-->


<!--<script type="application/javascript">
    //使用回车登录
    $(document).keyup(function (event) {
        if (event.keyCode == 13) {
            login();
        }
    });

    function cancelLogin() {
        $("#loginName").val("");
        $("#password").val("");
    }


    $(function () {
        //为登录按钮绑定事件
        $("#loginBtn").click(function () {
            var ENAME = $("#loginName").val();
            var EMPNO = $("#password").val();
            $.post(
                "/login.do",
                {"ENAME": ENAME, "EMPNO": EMPNO},
                function (json) {

                    if (json == 1) {
                        window.location.href = "/mPage";
                    } else {
                        alert("请注册");
                    }
                },
                "json"
            )
        })
    })
</script>-->
