<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <title>登陆界面</title>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/loginPage.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery-3.2.1.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.form.js}"></script>
</head>
<body>
<form id="loginPageForm">
    <table>
        <tbody>
        <tr>
            <P>WELCOME <span th:text="${username}"></span> to main page </P>
            <P>EMPNO <span th:text="${password}"></span></P>
        </tr>
        <tr>
            <td><input th:type="button" id="loginBtn" th:value="确定"/></td>
            <td><input th:type="button" onclick="cancelLogin()" th:value="取消"/></td>
        </tr>

            <ul>
                <shiro:hasPermission name="add"><li>增加</li></shiro:hasPermission>
                <shiro:hasPermission name="delete"><li>删除</li></shiro:hasPermission>
                <shiro:hasPermission name="update"><li>修改</li></shiro:hasPermission>
                <shiro:hasPermission name="query"><li>查询</li></shiro:hasPermission>
            </ul>
            <a href="${pageContext.request.contextPath }/logOut">点我注销</a>

        </tbody>
    </table>
</form>
</body>


</html>